<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="aquilesConfiguration" type="Aquiles.Core.Configuration.AquilesConfigurationSection,Aquiles.Core"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AIS.Properties.LocalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
 
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="AIS.log"/>
      <appendToFile value="false"/>
      <rollingStyle value="Once"/>
      <maxSizeRollBackups value="2"/>
	  <maximumFileSize value="32MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level: %message%newline"/>
        <!-- <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" /> -->
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>

  <aquilesConfiguration>
    <loggingManager>InWorldz.Data.Inventory.Cassandra.AquilesNullLogger, InWorldz.Data.Inventory.Cassandra, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null</loggingManager>
    <clusters>
      <add friendlyName="local">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED">
          <specialConnectionParameters>
            <add key="minimumClientsToKeepInPool" value="0"/>
            <add key="maximumClientsToSupportInPool" value="100"/>
            <add key="magicNumber" value="4"/>
          </specialConnectionParameters>
        </connection>
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="127.0.0.1" port="9160"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>

      <add friendlyName="iwproduction">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED">
          <specialConnectionParameters>
            <add key="minimumClientsToKeepInPool" value="0"/>
            <add key="maximumClientsToSupportInPool" value="100"/>
            <add key="magicNumber" value="4"/>
          </specialConnectionParameters>
        </connection>
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="10.0.1.245" port="9160"/>
            <add address="10.0.1.246" port="9160"/>
            <add address="10.0.1.247" port="9160"/>
            <add address="10.0.1.248" port="9160"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
  </aquilesConfiguration>
  
  <startup> 
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <applicationSettings>
    <AIS.Properties.Settings>
      <setting name="cassandraCluster" serializeAs="String">
        <value>iwproduction</value>
      </setting>
      <setting name="coreConnStr" serializeAs="String">
        <value>Data Source=productiondb.inworldz.com;Database=inworldz;User ID=grid;Password=secret;</value>
      </setting>
      <setting name="encKeyConnStr" serializeAs="String">
        <value>Data Source=productiondb;Database=SSInventoryBackup;User ID=invbak;Password=secret;</value>
      </setting>
    </AIS.Properties.Settings>
    <AIS.Properties.LocalSettings>
  	  <setting name="cassandraCluster" serializeAs="String">
	    <value>local</value>
	  </setting>
	  <setting name="coreConnStr" serializeAs="String">
	    <value>Data Source=127.0.0.1;Database=inworldz;User ID=root;password=secret;Min Pool Size=5;</value>
	  </setting>
	  <setting name="encKeyConnStr" serializeAs="String">
	    <value>Data Source=127.0.0.1;Database=inworldz;User ID=root;password=secret;Min Pool Size=5;</value>
	  </setting>
    </AIS.Properties.LocalSettings>
  </applicationSettings>
</configuration>
